<header>
  <div class="header-item">
    <%= image_tag "site_title_image.jpg", alt: "タイトル画像", id: 'title_image', class: "title_image" %>
  </div>
</header>

<main>
  <div class="container">
    <div class="login_main_box">
      <div class="login_menu">
        <h2>ログイン</h2>
        <% if flash.alert %>
          <div class="alert_area">
            <p class="alert">
              <%= flash.alert %>
            </p>
          </div>
        <% end %>
        <%= form_tag :login, id: "login_form" do %>
          <label>ユーザー名:</label><br>
          <input type="text" name="name" size="50"></br><br>
          <label>パスワード:</label><br>
          <input type="password", name="password" size="50"><br><br>
          <input type="submit" value="ログイン"><br><br>
          <%= link_to "新規ユーザ登録", login_new_path %>
        <% end %>
      </div>
    </div> 
  </div>
</main>
