// Place all the styles related to the board_comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


main .main-comment-box .board_name{
  width: 680px;
  margin: 0 auto 0 auto;
  padding: 0px;
}

main .main-comment-box table {
  width: 800px;
  height: auto;
  padding: 0;
  margin: 0 auto 0 auto;
  background-color: #E5E5E5;
  border: 1px solid #000;
}

main .main-comment-box table th{
}

main .main-comment-box table td {
  height: auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:  #000; 
}

main .alert-area {
  width: 800px;
  height: 50px;
  color: #FF0000;
  margin: 10px auto 0 auto;
  padding: 7px 0 0 0;
  background-color: #FFC8C8;
}
